<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
Votação do BBB
</title>
<link href="./static/sitecss.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
<script type="text/javascript" src="./static/js/script.js"></script>


<div id="content1">
<span class="closeicon"></span>
	<div id="top">
<p>
<span class="myicon">
</span>
<h1>Estatísticas de votação</h1>

</p>


	</div>
	<div id="bar">
	</div>
	<div id="choices">
	<p> <h2> Total de Votos entre {{ startdate }} e {{ enddate }} é: {{ count }} </h2></p>

	</div>

</div>

	
</body>

</html>


