<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
Votação do BBB
</title>
<link href="./static/sitecss.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>


<div id="content">
<span class="closeicon"></span>
	<div id="top">
<p>
<span class="myicon">
</span>
<h1>QUEM DEVE SER O <b>ELIMINADO</b>?</h1>

</p>


	</div>
	<div id="bar">
	</div>
	<div id="choices">
		<p class="left" onclick="part1selected();"><b>Participante 1</b>
<span class="part1" id="foto1"></span>
Para eliminar o <b> Particiapante 1</b> pelo telefone disque <b>0800-123-001</b> ou mande um SMS para <b>8001</b></p>
		<p class="right" onclick="part2selected();"><b>Participante 2</b>
<span class="part2" id="foto2" ></span>

Para eliminar o <b> Particiapante 2</b> pelo telefone disque <b>0800-123-002</b> ou mande um SMS para <b>8002</b></p>

	</div>
<div id="foot">
<form id="form3" action="/" method="post" onsubmit="return checkform(this);">
 
	<input type="hidden" name="vote" value="0">
<p>
<script>
var RecaptchaOptions = {
   lang: pt
};
</script>
    <script type="text/javascript"
       src="http://www.google.com/recaptcha/api/challenge?k=6LdOVtgSAAAAAG6ou3vioD8BwSHU-6D516RfYfGV">
    </script>
    <noscript>
       <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdOVtgSAAAAAG6ou3vioD8BwSHU-6D516RfYfGV"
           height="300" width="500" frameborder="0"></iframe><br>
       <textarea name="recaptcha_challenge_field" rows="3" cols="40">
       </textarea>
       <input type="hidden" name="recaptcha_response_field"
           value="manual_challenge">

    </noscript>
</p>
  <p class="submit">
{{ failMessage }}
<button class="shiny-blue" />Envie seu voto agora</button>

  </p>
</form>
</div>

</div>

<script type="text/javascript" src="./static/js/script.js"></script>
</body>

</html>

